{% extends "food_search/subpage_template.html" %}

{% block title %}PeaFree! - {{ food.name }}{% endblock %}

{% block contenttitle %}{{ food.name }}{% endblock %}

{% block content %}
    <p class="lead">
        <b class="font-weight-bold">Brand</b>: {{ food.brand }}
        <br><br>
        <b class="font-weight-bold">Item Number</b>: {{ food.item_num }}
        <br><br>
        <b class="font-weight-bold">Ingredients:</b> {{ food.ingredients }}
        <br><br>
        <b class="font-weight-bold">Breed Sizes:</b> {{ breed_sizes }}
        <br><br>
        <b class="font-weight-bold">Food Form:</b> {{ food.food_form }}
        <br><br>
        {% if diets != None %}
        <b class="font-weight-bold">Special Diets:</b> {{ diets }}
        <br><br>
        {% endif %}
        <b class="font-weight-bold">Lifestage:</b> {{ food.lifestage }}
        <br><br>
        <b class="font-weight-bold">Meets FDA Guidelines:</b>
        {% if food.fda_guidelines == True %}Yes
        {% else %}No
        {% endif %}
        <br><br>
        <b class="font-weight-bold"> <a href="{{ food.url }}" target="_blank">View On Chewy.com</a></b>
        <br><br>
    </p>
{% endblock %}