{% extends "food_search/default_template.html" %}
{% load static %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top" style="padding-top:0;padding-bottom:0;">
                <span style="font-family:'Damion',cursive;font-weight:lighter;letter-spacing:.15rem;font-size:3rem;text-shadow: 1px 2px 0 #1abc9c">
                    PeaFree!
                </span>
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search">Search</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#tech">Tech</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block masthead %}
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="{% static 'img/dog_avatar.svg' %}" alt="">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Does Your Dog Food Meet FDA Guidelines?</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">No Peas | No Legumes | No Potatoes | No Seeds</p>

        </div>
    </header>
{% endblock %}

{% block contentsection %}
    <!-- Content Section -->
    <section class="page-section portfolio" id="search">
        <div class="container">

            <!-- Content Section Heading -->
            {% block contentheader %}
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                    {% block contenttitle %}{% endblock %}
                </h2>
            {% endblock %}

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Content Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block aboutsection %}
    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    <p class="lead text-center">My vet cautioned me against grain-free diets after a recent
                        FDA investigation into these foods. The FDA's study indicates some of the main ingredients in
                        these foods may be responsible for a rise in cases of Canine Dilated Cardiomyopathy (DCM), a
                        type of heart disease in dogs.<br><br>
                        In my search to find a new food, I found it difficult to identify which foods met the FDA's new
                        guidelines without looking at each and every ingredient, so I set out to solve
                        the problem programmatically. This website is the result of my efforts - an easy way to search
                        for an acceptable dog food, or to check your current food.<br><br>
                        Just go ahead and search to see if your food follows the guidelines, or use the advanced search
                        to find an acceptable food for dogs of any size and lifestage.<br><br>
                        The information for this website was scraped form Chewy.com, and ingredients are examined
                        according to the guidelines outlined by the FDA. Foods containing discouraged ingredients are
                        marked, and these ingredients are highlighted in the food's details page.
                    </p>
                </div>
                <div class="m-auto align-content-center">
                    <p class="lead text-center">
                        The FDA's announcement can be found
                        <a class="text-secondary"
                           href="https://wayback.archive-it.org/7993/20190423043549/https://www.fda.gov/AnimalVeterinary/NewsEvents/ucm630993.htm"
                           target="_blank" rel="noreferrer">here</a>
                        and a summary can be found <a class="text-secondary"
                                                      href="https://wayback.archive-it.org/7993/20190423023017/https://www.fda.gov/AnimalVeterinary/ResourcesforYou/AnimalHealthLiteracy/ucm616279.htm"
                                                      target="_blank" rel="noreferrer">here</a>.
                    </p>
                    <p class="text-center font-italic">
                        <i class="font-weight-bold"><br>Key points from the FDA's summary:</i>
                        <br><br>
                        The FDA is cautioning against feeding dogs food that contains legumes, pulses (seeds of
                        legumes), and/or (sweet) potatoes as main ingredients in the food.<br><br>

                        Main ingredients are defined as ingredients that appear in a food's ingredient list before
                        the first appearance of a vitamin or mineral ingredient.<br><br>

                        Common legumes include peas, beans, lentils, chickpeas, soybeans and peanuts. Pulses are dry
                        edible seeds of certain legume plants. Examples include dried beans, dried peas, chickpeas
                        and lentils.<br><br>

                        Rice is a grain, not a legume. The current reports do not suggest there is any link between
                        diets with rice and DCM in dogs.<br><br>

                        Grain-free diets are not necessarily specifically implicated by the study, but recently the
                        proportion of legumes, pulses, and potatoes have increased significantly in these diets.

                    </p>
                </div>
                <div class="m-auto align-content-center">
                    <p class="lead text-center"></p>
                </div>
            </div>

        </div>
    </section>

    <!-- Technology Section -->
    <section class="page-section portfolio" id="tech">
        <div class="container">

            <!-- Technology Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Technology
            </h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Technology Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    <p class="lead text-center">
                        PeaFree! runs on Django, Bootstrap4, AWS RDS and AWS Elastic Beanstalk.<br>View the source code
                        on
                        <a href="https://github.com/MikeAleksa/PeaFree" target="_blank"
                           rel="noreferrer">GitHub</a>.
                        <br><br>
                        Style and design were modified from StartBootstrap.com's Freelancer template.<br>Find it on <a
                            href="https://github.com/BlackrockDigital/startbootstrap-freelancer"
                            target="_blank" rel="noreferrer">GitHub</a>.
                        <br><br>
                        The webscraper that supplies data to PeaFree! runs on Python3, BeautifulSoup4, MySQL and
                        SQLAlchemy.<br>
                        See the source code on <a href="https://github.com/MikeAleksa/Multithreaded-Chewy-Scraper"
                                                  target="_blank" rel="noreferrer">GitHub</a>.
                    </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block footersection %}
    <!-- Footer -->
    <footer class="footer text-center" id="contact">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Contact Me</h4>
                    <a class="btn btn-outline-light btn-social mx-1"
                       href="mailto:contact@peafree.info?subject=PeaFree!">
                        <i class="fas fa-fw fa-envelope"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1"
                       href="https://www.linkedin.com/in/michael-aleksa/"
                       target="_blank" rel="noreferrer">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">About Me</h4>
                    <a class="btn btn-outline-light btn-social mx-1"
                       href="https://www.michaelaleksa.com/"
                       target="_blank" rel="noreferrer">
                        <i class="fas fa-fw fa-window-maximize"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/MikeAleksa"
                       target="_blank"
                       rel="noreferrer">
                        <i class="fab fa-fw fa-github"></i>
                    </a>
                </div>

                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Disclaimer</h4>
                    <p class="small mb-0">
                        All decisions regarding which food to feed your pet should be made after consulting with
                        your
                        veterinarian.
                        The information contained on this website is not guaranteed to be accurate - if any
                        inaccuracies
                        are
                        found, please contact me with details.
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Michael Aleksa 2020</small>
        </div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}