{% extends "food_search/default_template.html" %}
{% load static %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span style="font-family:'Damion',cursive;font-weight:lighter;letter-spacing:.15rem;font-size-adjust:.3">
                    Pea<span class="text-primary">Free</span>!
                </span>
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search">Search</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#tech">Tech</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block masthead %}
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="{% static 'img/dog_avatar.svg' %}" alt="">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Does Your Dogfood Meet FDA Guidelines?</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">No Peas | No Legumes | No Potatoes | No Seeds</p>

        </div>
    </header>
{% endblock %}

{% block contentsection %}
    <!-- Content Section -->
    <section class="page-section portfolio" id="search">
        <div class="container">

            <!-- Content Section Heading -->
            {% block contentheader %}
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                    {% block contenttitle %}{% endblock %}
                </h2>
            {% endblock %}

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Content Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block aboutsection %}
    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    <p class="lead text-center">My vet recently cautioned me against grain-free diets after a recent
                        FDA investigation into these foods, which indicates some of their main ingredients may be
                        responsible for a rise in cases of Canine Dilated Cardiomyopathy (DCM), a type of heart disease
                        in dogs. This website utilizes data scraped from Chewy.com to see which dog foods meet the FDA's
                        new recommendations - no peas, no potatoes, no legumes, and no pulses.
                    </p>
                </div>
                <div class="m-auto align-content-center">
                    <p class="lead text-center">
                        The FDA's announcement can be found
                        <a class="text-secondary"
                           href="https://wayback.archive-it.org/7993/20190423043549/https://www.fda.gov/AnimalVeterinary/NewsEvents/ucm630993.htm"
                           target="_blank">here</a>
                        and is summarized <a class="text-secondary"
                                             href="https://wayback.archive-it.org/7993/20190423023017/https://www.fda.gov/AnimalVeterinary/ResourcesforYou/AnimalHealthLiteracy/ucm616279.htm"
                                             target="_blank">here</a>.
                        <br><br>Key points from the FDA's summary:
                    <ul class="lead">
                        <li>The FDA is cautioning against feeding dogs food that contains legumes, pulses (seeds of
                            legumes), and/or (sweet) potatoes as main ingredients in the food<br><br>
                        </li>
                        <li>Main ingredients are defined as ingredients that appear in a food's ingredient list before
                            the first appearance of a vitamin or mineral ingredient.<br><br>
                        </li>
                        <li>Common legumes include peas, beans, lentils, chickpeas, soybeans and peanuts. Pulses are dry
                            edible seeds of certain legume plants. Examples include dried beans, dried peas, chickpeas
                            and
                            lentils.<br><br>
                        </li>
                        <li>Rice is a grain, not a legume. The current reports do not suggest there is any link between
                            diets with rice and DCM in dogs.<br><br>
                        </li>
                        <li>Grain-free diets are not necessarily specifically implicated by the study, but recently the
                            proportion of legumes and/or pulses has increased significantly in these diets.
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="m-auto align-content-center">
                    <p class="lead text-center"></p>
                </div>
            </div>

        </div>
    </section>

    <!-- Technology Section -->
    <section class="page-section portfolio" id="tech">
        <div class="container">

            <!-- Technology Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Technology
            </h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Technology Section Content -->
            <div class="row">
                <div class="m-auto align-content-center">
                    <p class="lead text-center">
                        PeaFree! runs on Django, MySQL, Bootstrap4, and AWS Elastic Beanstalk.<br>View the source code
                        on
                        <a href="https://github.com/MikeAleksa/PeaFree" target="_blank">GitHub</a>.
                        <br><br>
                        Style and design were modified from StartBootstrap.com's Freelancer template.<br>Find it on <a
                            href="https://github.com/BlackrockDigital/startbootstrap-freelancer"
                            target="_blank">GitHub</a>.
                        <br><br>
                        The webscraper that supplies data to PeaFree! runs on Python3, SQLAlchemy, and AWS Lambda.<br>
                        See the source code on <a href="https://github.com/MikeAleksa/Multithreaded-Chewy-Scraper"
                                                  target="_blank">GitHub</a>.
                    </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
