{% extends "food_search/index_template.html" %}
{% load humanize %}

{% block title %}PeaFree!{% endblock %}

{% block contenttitle %}Search For a Food{% endblock %}

{% block content %}
    <p class="lead text-center">
        The database contains information about <b class="font-weight-bold">{{ food_count }}</b> foods from Chewy.com.
        <br><br>
        <b class="font-weight-bold">{{ good_count }}</b> of these foods meet the new FDA guidelines regarding legumes,
        pulses, and potatoes.
        <br><br>
        The database was last updated {{ update.date__max|naturalday }}.
    </p>
    <div class="row lead text-center">
        <div class="col-lg-8 mx-auto">
            <form id="searchform" action="{% url 'food_search:results' %}" method="get" accept-charset="utf-8">
                <button class="btn focus btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <input class="searchfield btn focus" id="searchbox" name="q" type="text"
                       placeholder="Search Foods...">
                <label>
                    Follows FDA Recommendations
                    <input class="searchfield" id="fda_checkbox" name="fda" type="checkbox" checked>
                </label>
            </form>
        </div>
    </div>
{% endblock %}